<section id="navbar">
  <div class="navbar">
      <div class="navbar-inner">
          <div class="container" style="width:auto">
              <div class="nav-collapse">
                  {{ knp_menu_render('AdminCommonBundle:Builder:mainMenu', {'currentClass' : 'active'}) }}
              </div>
          </div>
      </div>
  </div>
</section>