<div class="row" class="well form-search">
    <input type="text" class="input-medium search-query" id="searchvalue" placeholder="{{  "Search" }}" value="{{ app.request.get('searchvalue', '') }}"> <input type="button" id="search" value="{{ 'search' }}" onClick="submitForm();" class="btn">
</div>